<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">{{ .Site.Title }}</a>

    <div class="ms-auto d-flex gap-2">
      <a class="btn btn-outline-dark btn-sm" href="/products/sale/">?곹뭹</a>
      <a class="btn btn-outline-dark btn-sm" href="/products/sale/">?먮ℓ</a>
      <a href="/buy-board/" class="btn btn-outline-dark btn-sm">留ㅼ엯臾몄쓽</a>
      <a class="btn btn-outline-dark btn-sm" href="/products/rental/">?뚰깉</a>
      <a class="btn btn-dark btn-sm" href="/contact/">移댁뭅???곷떞</a>
    </div>
  </div>
</nav>
