<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">{{ .Site.Title }}</a>

    <div class="ms-auto d-flex gap-2">
      <a class="btn btn-outline-dark btn-sm" href="/products/sale/">판매</a>
      <a href="/buy-board/" class="btn btn-outline-dark btn-sm">매입문의</a>
      <a class="btn btn-outline-dark btn-sm" href="/products/rental/">렌탈</a>
      <a class="btn btn-dark btn-sm" href="/contact/">카카오톡 상담</a>
    </div>
  </div>
</nav>
